<div [formGroup]="form()" class="flex flex-col gap-4">
  <h2 class="text-xl">Representante</h2>
  <div class="flex flex-col md:flex-row gap-4">
    <!-- IZQUIERDA -->
    <div class="flex flex-col gap-4 flex-1">
      <!-- PRIMER NOMBRE -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="first_name"
          >Primer nombre <span class="text-accent-500">*</span></label
        >
        <input
          pInputText
          type="text"
          id="first_name"
          formControlName="first_name"
          placeholder="Primer Nombre"
          required
          [invalid]="first_name.invalid && first_name.touched"
          fluid
        />
        @if (first_name.invalid && first_name.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (first_name.hasError('required')) {
              El primer nombre es obligatorio.
            }
          </p-message>
        }
      </div>

      <!-- SEGUNDO NOMBRE -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="second_name">Segundo nombre</label>
        <input
          pInputText
          type="text"
          id="second_name"
          formControlName="second_name"
          placeholder="Segundo Nombre"
          [invalid]="second_name.invalid && second_name.touched"
          fluid
        />
      </div>

      <!-- PRIMER APELLIDO -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="first_surname"
          >Primer apellido <span class="text-accent-500">*</span></label
        >
        <input
          pInputText
          type="text"
          id="first_surname"
          formControlName="first_surname"
          placeholder="Primer Apellido"
          required
          [invalid]="first_surname.invalid && first_surname.touched"
          fluid
        />
        @if (first_surname.invalid && first_surname.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (first_surname.hasError('required')) {
              El primer apellido es obligatorio.
            }
          </p-message>
        }
      </div>

      <!-- SEGUNDO APELLIDO -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="second_surname">Segundo apellido</label>
        <input
          pInputText
          type="text"
          id="second_surname"
          formControlName="second_surname"
          placeholder="Segundo apellido"
          [invalid]="second_surname.invalid && second_surname.touched"
          fluid
        />
      </div>

      <!-- DNI -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="dni">DNI <span class="text-accent-500">*</span></label>
        <input
          pInputText
          type="text"
          id="dni"
          formControlName="dni"
          placeholder="DNI"
          required
          [invalid]="dni.invalid && dni.touched"
          fluid
        />
        @if (dni.invalid && dni.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (dni.hasError('required')) {
              El documento de identificación es obligatorio.
            }
          </p-message>
        }
      </div>

      <!-- FECHA DE NACIMIENTO -->
      <div class="flex flex-col gap-1.5">
        <label pLabel class="text-sm" for="birth_date"
          >Fecha de nacimiento <span class="text-accent-500">*</span></label
        >
        <p-datepicker
          formControlName="birth_date"
          [showIcon]="true"
          inputId="birth_date"
          dateFormat="dd/mm/yy"
        />
        @if (birth_date.invalid && birth_date.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (birth_date.hasError('required')) {
              La fecha de nacimiento es obligatoria.
            }
          </p-message>
        }
      </div>

      <!-- DOMICILIO -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="address">Domicilio</label>
        <input
          pInputText
          type="text"
          id="address"
          formControlName="address"
          placeholder="Domicilio"
          [invalid]="address.invalid && address.touched"
          fluid
        />
      </div>
    </div>
    <!-- DERECHA -->
    <div class="flex flex-col gap-4 flex-1">
      <!-- GÉNERO -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="gender"
          >Género <span class="text-accent-500">*</span></label
        >
        <p-select
          id="gender"
          formControlName="gender"
          [options]="genderOptions"
          optionLabel="label"
          optionValue="value"
          placeholder="Género"
        />
        @if (gender.invalid && gender.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (gender.hasError('required')) {
              El género es obligatorio.
            }
          </p-message>
        }
      </div>

      <!-- CORREO -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="email"
          >Correo <span class="text-accent-500">*</span></label
        >
        <input
          pInputText
          type="email"
          id="email"
          formControlName="email"
          placeholder="Correo"
          required
          email
          [invalid]="email.invalid && email.touched"
          fluid
        />
        @if (email.invalid && email.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (email.hasError('required')) {
              El correo es obligatorio.
            }
            @if (email.hasError('email')) {
              Ingresá un correo válido.
            }
          </p-message>
        }
      </div>

      <!-- TELÉFONO REPRESENTANTE -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="rep_phone"
          >Número de teléfono <span class="text-accent-500">*</span></label
        >
        <div class="flex items-center gap-1">
          <app-phone-code-select [control]="rep_phone_code" />
          <input
            pInputText
            type="text"
            id="rep_phone"
            formControlName="rep_phone"
            placeholder="22334455"
            [invalid]="rep_phone.invalid && rep_phone.touched"
            fluid
          />
        </div>
        @if (rep_phone.invalid && rep_phone.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (rep_phone.hasError('required')) {
              El número de teléfono es obligatorio.
            } @else if (rep_phone.hasError('invalidPhone')) {
              El número de teléfono no es válido.
            }
          </p-message>
        }
      </div>

      <!-- PAÍS -->
      <app-countries-select [control]="country" />

      <!-- DEPARTAMENTO -->
      <app-states-select [control]="department" [countryControl]="country" />

      <!-- PROFESIÓN -->
      <div class="flex flex-col gap-1">
        <label pLabel class="text-sm" for="profession"
          >Profesión <span class="text-accent-500">*</span></label
        >
        <input
          pInputText
          type="text"
          id="profession"
          formControlName="profession"
          placeholder="Profesión"
          [invalid]="profession.invalid && profession.touched"
          fluid
        />
        @if (profession.invalid && profession.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (profession.hasError('required')) {
              La profesión es obligatoria.
            }
          </p-message>
        }
      </div>

      <!-- CARNET -->
      @if (haveCarnets().value) {
        <div class="flex flex-col gap-1">
          <label pLabel class="text-sm" for="carnet"
            >Carnet <span class="text-accent-500">*</span></label
          >
          <input
            pInputText
            type="text"
            id="carnet"
            formControlName="carnet"
            placeholder="carnet"
            required
            [invalid]="carnet.invalid && carnet.touched"
            fluid
          />
          @if (carnet.invalid && carnet.touched) {
            <p-message severity="error" size="small" variant="simple">
              @if (carnet.hasError('required')) {
                El carnet es obligatorio.
              }
            </p-message>
          }
        </div>
      }
    </div>
  </div>
</div>
