.logo {
  background-color: var(--p-primary-500);
  -webkit-mask-image: url('/logo.svg');
  mask-image: url('/logo.svg');
  -webkit-mask-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;
}
