<div class="background flex items-center">
  <div class="px-12 py-6 rounded-3xl bg-white mx-auto w-full max-w-lg shadow-sm">
    <!-- LOGO -->
    <div class="hover:cursor-pointer logo mx-auto" routerLink="/"></div>
    <div class="text-center mb-8">
      <h1 class="text-primary mt-2 text-3xl font-light">Creación de Cuenta</h1>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="signup()" class="flex flex-col gap-4 w-full">
      <!-- CORREO -->
      <div class="flex flex-col gap-1">
        <input
          pInputText
          type="email"
          id="email"
          formControlName="email"
          placeholder="Correo"
          required
          email
          [invalid]="email.invalid && email.touched"
          fluid
        />
        @if (email.invalid && email.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (email.hasError('required')) {
              El correo es obligatorio.
            }
            @if (email.hasError('email')) {
              Ingresá un correo válido.
            }
          </p-message>
        }
      </div>

      <!-- CONTRASEÑA -->
      <div class="flex flex-col gap-1">
        <input
          pInputText
          type="password"
          id="password"
          placeholder="Contraseña"
          formControlName="password"
          [invalid]="password.invalid && password.touched"
          required
        />
        @if (password.invalid && password.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (password.hasError('required')) {
              La contraseña es obligatoria.
            }

            @if (password.hasError('minlength')) {
              Debe tener al menos 8 caracteres.
            }

            @if (password.hasError('pattern')) {
              Debe contener una mayúscula y un número.
            }
          </p-message>
        }
      </div>

      <!-- CONFIRMAR CONTRASEÑA -->
      <div class="flex flex-col gap-1">
        <input
          pInputText
          type="password"
          id="confirmPassword"
          placeholder="Confirmar Contraseña"
          formControlName="confirmPassword"
          [invalid]="confirmPassword.invalid && confirmPassword.touched"
          required
        />
        @if (signupForm.touched && signupForm.hasError('passwordMismatch')) {
          <p-message severity="error" size="small" variant="simple"
            >Las contraseñas no coinciden.</p-message
          >
        }
        @if (confirmPassword.touched && confirmPassword.hasError('required')) {
          <p-message severity="error" size="small" variant="simple"
            >Debés confirmar tu contraseña.</p-message
          >
        }
      </div>

      <!-- BOTÓN REGISTRO -->
      <button pButton type="submit" [loading]="loading()" class="mt-2">
        <span pButtonLabel>Crear cuenta</span>
      </button>
    </form>

    <!-- LINKS -->
    <p class="text-center mt-2">
      ¿Ya tenés una cuenta?
      <p-button label="Iniciá sesión" routerLink="/login-candidato" link />
    </p>
  </div>
</div>
