<div class="relative min-h-screen overflow-hidden">
  <!-- Imagen de fondo -->
  <img
    src="/bosque-1.jpg"
    alt=""
    loading="lazy"
    decoding="async"
    class="absolute inset-0 h-full w-full object-cover object-bottom -z-20 select-none"
  />

  <div class="flex min-h-screen items-center justify-center p-6 sm:p-6 lg:p-8">
    <div class="w-full max-w-2xl rounded-3xl bg-white px-6 py-7 shadow-xl sm:px-8 pt-0">
      <div class="logo mx-auto cursor-pointer" routerLink="/"></div>

      <div class="mb-8 text-center">
        <h1 class="text-3xl font-light text-primary">Creación de Cuenta</h1>
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="signup()" class="flex flex-col gap-4 w-full">
        <div class="flex flex-col lg:flex-row gap-4">
          <!-- IZQUIERDA -->
          <div class="flex flex-col gap-4 flex-1">
            <!-- PRIMER NOMBRE -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm"
                >Primer nombre <span class="text-accent-500">*</span></label
              >
              <input
                pInputText
                type="text"
                id="first_name"
                formControlName="first_name"
                placeholder="Primer Nombre"
                required
                [invalid]="first_name.invalid && first_name.touched"
                fluid
              />
              @if (first_name.invalid && first_name.touched) {
                <p-message severity="error" size="small" variant="simple">
                  @if (first_name.hasError('required')) {
                    El primer nombre es obligatorio.
                  }
                </p-message>
              }
            </div>

            <!-- SEGUNDO NOMBRE -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm">Segundo nombre</label>
              <input
                pInputText
                type="text"
                id="second_name"
                formControlName="second_name"
                placeholder="Segundo Nombre"
                [invalid]="second_name.invalid && second_name.touched"
                fluid
              />
            </div>

            <!-- PRIMER APELLIDO -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm"
                >Primer apellido <span class="text-accent-500">*</span></label
              >
              <input
                pInputText
                type="text"
                id="first_surname"
                formControlName="first_surname"
                placeholder="Primer Apellido"
                required
                [invalid]="first_surname.invalid && first_surname.touched"
                fluid
              />
              @if (first_surname.invalid && first_surname.touched) {
                <p-message severity="error" size="small" variant="simple">
                  @if (first_surname.hasError('required')) {
                    El primer apellido es obligatorio.
                  }
                </p-message>
              }
            </div>

            <!-- SEGUNDO APELLIDO -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm">Segundo apellido</label>
              <input
                pInputText
                type="text"
                id="second_surname"
                formControlName="second_surname"
                placeholder="Segundo apellido"
                [invalid]="second_surname.invalid && second_surname.touched"
                fluid
              />
            </div>

            <!-- DOMICILIO -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm">Domicilio</label>
              <input
                pInputText
                type="text"
                id="address"
                formControlName="address"
                placeholder="Domicilio"
                [invalid]="address.invalid && address.touched"
                fluid
              />
            </div>

            <!-- DNI -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm">DNI <span class="text-accent-500">*</span></label>
              <input
                pInputText
                type="text"
                id="dni"
                formControlName="dni"
                placeholder="DNI"
                required
                [invalid]="dni.invalid && dni.touched"
                fluid
              />
              @if (dni.invalid && dni.touched) {
                <p-message severity="error" size="small" variant="simple">
                  @if (dni.hasError('required')) {
                    El documento de identificación es obligatorio.
                  }
                </p-message>
              }
            </div>
          </div>

          <!-- DERECHA -->
          <div class="flex flex-col gap-4 flex-1">
            <!-- TELÉFONO -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm"
                >Número de teléfono <span class="text-accent-500">*</span></label
              >
              <input
                pInputText
                type="text"
                id="phone"
                formControlName="phone"
                placeholder="Número de teléfono"
                required
                [invalid]="phone.invalid && phone.touched"
                fluid
              />
              @if (phone.invalid && phone.touched) {
                <p-message severity="error" size="small" variant="simple">
                  @if (phone.hasError('required')) {
                    El número de teléfono es obligatorio.
                  }
                  <!-- TODO: usar select para país-->
                </p-message>
              }
            </div>

            <!-- FECHA DE NACIMIENTO -->
            <div class="flex flex-col gap-1.5">
              <label pLabel class="text-sm"
                >Fecha de nacimiento <span class="text-accent-500">*</span></label
              >
              <p-datepicker
                formControlName="birth_date"
                [showIcon]="true"
                inputId="birth_date"
                dateFormat="dd/mm/yy"
              />
              @if (birth_date.invalid && birth_date.touched) {
                <p-message severity="error" size="small" variant="simple">
                  @if (birth_date.hasError('required')) {
                    La fecha de nacimiento es obligatoria.
                  }
                </p-message>
              }
            </div>

            <!-- CORREO -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm">Correo <span class="text-accent-500">*</span></label>
              <input
                pInputText
                type="email"
                id="email"
                formControlName="email"
                placeholder="Correo"
                required
                email
                [invalid]="email.invalid && email.touched"
                fluid
              />
              @if (email.invalid && email.touched) {
                <p-message severity="error" size="small" variant="simple">
                  @if (email.hasError('required')) {
                    El correo es obligatorio.
                  }
                  @if (email.hasError('email')) {
                    Ingresá un correo válido.
                  }
                </p-message>
              }
            </div>

            <!-- CONFIRMAR CORREO -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm"
                >Confirmá Correo <span class="text-accent-500">*</span></label
              >
              <input
                pInputText
                type="email"
                id="confirmEmail"
                placeholder="Confirmar Correo"
                formControlName="confirmEmail"
                email
                [invalid]="confirmEmail.invalid && confirmEmail.touched"
                required
              />
              @if (signupForm.touched && signupForm.hasError('emailMismatch')) {
                <p-message severity="error" size="small" variant="simple"
                  >Los correos no coinciden.</p-message
                >
              }
              @if (confirmEmail.touched && confirmEmail.hasError('required')) {
                <p-message severity="error" size="small" variant="simple"
                  >Debés confirmar tu correo.</p-message
                >
              }
            </div>

            <!-- GÉNERO -->
            <div class="flex flex-col gap-1">
              <label pLabel class="text-sm">Género <span class="text-accent-500">*</span></label>
              <p-select
                formControlName="gender"
                [options]="genderOptions"
                optionLabel="label"
                optionValue="value"
                placeholder="Género"
              />
            </div>
          </div>
        </div>

        <!-- CONTRASEÑA -->
        <!-- <div class="flex flex-col gap-1">
        <input
          pInputText
          type="password"
          id="password"
          placeholder="Contraseña"
          formControlName="password"
          [invalid]="password.invalid && password.touched"
          required
        />
        @if (password.invalid && password.touched) {
          <p-message severity="error" size="small" variant="simple">
            @if (password.hasError('required')) {
              La contraseña es obligatoria.
            }

            @if (password.hasError('minlength')) {
              Debe tener al menos 8 caracteres.
            }

            @if (password.hasError('pattern')) {
              Debe contener una mayúscula y un número.
            }
          </p-message>
        }
      </div> -->

        <!-- CONFIRMAR CONTRASEÑA -->
        <!-- <div class="flex flex-col gap-1">
        <input
          pInputText
          type="password"
          id="confirmPassword"
          placeholder="Confirmar Contraseña"
          formControlName="confirmPassword"
          [invalid]="confirmPassword.invalid && confirmPassword.touched"
          required
        />
        @if (signupForm.touched && signupForm.hasError('passwordMismatch')) {
          <p-message severity="error" size="small" variant="simple"
            >Las contraseñas no coinciden.</p-message
          >
        }
        @if (confirmPassword.touched && confirmPassword.hasError('required')) {
          <p-message severity="error" size="small" variant="simple"
            >Debés confirmar tu contraseña.</p-message
          >
        }
      </div> -->

        <!-- BOTÓN REGISTRO -->
        <button pButton type="submit" [loading]="loading()" class="mt-2">
          <span pButtonLabel>Crear cuenta</span>
        </button>
      </form>

      <!-- LINKS -->
      <p class="text-center mt-2">
        ¿Ya tenés una cuenta?
        <p-button label="Iniciá sesión" routerLink="/login-candidato" link />
      </p>
    </div>
  </div>
</div>
