h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: var(--text-lg); /* 1.125rem (18px) */
  line-height: var(--text-lg--line-height); /* calc(1.75 / 1.125) */
}
