@if (loading()) {
  <!-- SKELETONS -->
  <app--curriculum-skeletons />
} @else {
  <!-- LANGUAGE DIALOG -->
  <app-languages-dialog
    [languages]="cv()?.languages?.languages ?? []"
    (languageAdded)="loadCV()"
    #languagesDialog
  />

  <!-- SKILLS DIALOG -->
  <app-skills-dialog (skillsUpdated)="loadCV()" />

  <div class="p-4 pt-0 lg:pl-0 flex flex-col gap-4">
    <!-- HERO -->
    <section class="card p-8 flex-2">
      <h1 class="text-2xl font-bold">Curriculum Vitae</h1>
      <p class="text-gray-600">{{ 'cv.experiencias_verificadas' | translate }}</p>
    </section>

    <!-- WORK EXPERIENCE -->
    <section class="card p-6">
      <div class="flex items-center justify-between mb-4 gap-2">
        <h2>Experiencia Laboral</h2>
        <app-add-experience-dialog (experienceAdded)="loadCV()" />
      </div>

      @if (cv()?.works_experience?.length) {
        <div class="relative border-l border-gray-300 space-y-4">
          @for (experience of cv()?.works_experience ?? []; track experience.id) {
            <div class="ml-6 relative">
              <!-- TIMELINE -->
              <span class="absolute -left-[31px] top-0 shadow-sm bg-lite rounded-full size-4">
              </span>

              <div class="card border border-gray-300 p-4 space-y-4 shadow-sm">
                <div>
                  <div class="flex items-center justify-between">
                    <h3 class="text-lg font-bold flex items-center gap-1">
                      {{ experience.title
                      }}<i
                        class="pi pi-verified"
                        style="font-size: 1.1rem; color: var(--color-sky-500)"
                      ></i>
                    </h3>
                    <!-- EDIT EXP DIALOG -->
                    <app-edit-experience-dialog
                      [workExperience]="experience"
                      (experienceUpdated)="loadCV()"
                    />
                  </div>
                  <span class="text-sm text-gray-600">{{ experience.company }}</span>
                </div>

                <ul class="space-y-1 text-gray-600 text-sm">
                  @for (item of experience.activities; track $index) {
                    <span class="flex gap-2 items-center">
                      &bull;
                      <li>{{ item }}</li></span
                    >
                  }
                </ul>
                <!-- BADGES -->
                <div class="flex flex-wrap gap-2">
                  <!--  <span class="green-badge">{{ 'cv.validado' | translate }}</span>
                  <span class="accent-badge">{{ 'cv.ascenso_interno' | translate }}</span> -->
                  <span class="gray-badge">
                    {{ experience.start_date }}
                  </span>
                  @if (experience.end_date) {
                    <span class="gray-badge">
                      {{ experience.end_date }}
                    </span>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      } @else {
        <app-empty-state />
      }
    </section>

    <!-- EDUCATION -->
    <section class="card p-6">
      <div class="flex items-center justify-between mb-4">
        <h2>Educación</h2>
        <app-add-education-dialog (educationAdded)="loadCV()" />
      </div>

      @if (cv()?.educations?.length) {
        <div class="flex flex-wrap gap-4">
          @for (education of cv()?.educations; track $index) {
            <div class="flex flex-col gap-1 rounded-3xl p-4 shadow-sm w-full sm:w-auto">
              <div class="flex items-center justify-between">
                <span class="accent-badge">{{ education.level }}</span>

                <app-edit-education-dialog [education]="education" (educationUpdated)="loadCV()" />
              </div>
              <h3>{{ education.title }}</h3>
              <p class="text-gray-600 text-sm">{{ education.educational_center }}</p>
              <p class="flex gap-2">
                <span class="gray-badge">{{ education.start_date }}</span>
                @if (education.end_date) {
                  <span class="gray-badge">{{ education.end_date }}</span>
                }
              </p>
            </div>
          }
        </div>
      } @else {
        <app-empty-state />
      }
    </section>

    <!-- LANGUAGES -->
    <section class="card p-6">
      <div class="flex items-center justify-between mb-4">
        <h2>Idiomas</h2>
        <p-button
          icon="pi pi-plus"
          label="Idioma"
          size="small"
          (click)="languagesDialog.openAdd()"
        />
      </div>

      @if ((cv()?.languages?.languages?.length ?? 0) > 0) {
        <div>
          @for (language of cv()?.languages?.languages ?? []; track $index) {
            <div class="flex items-center gap-2">
              <span>{{ language.name }} - {{ language.level }}</span>

              <div class="flex gap-2">
                <!-- EDIT -->
                <p-button
                  icon="pi pi-pencil"
                  size="small"
                  [rounded]="true"
                  (click)="languagesDialog.openEdit(language, $index)"
                />
                <!-- DELETE -->
                <p-button
                  severity="danger"
                  icon="pi pi-trash"
                  [rounded]="true"
                  size="small"
                  (click)="deleteLanguages(language)"
                />
              </div>
            </div>
          }
        </div>
      } @else {
        <app-empty-state />
      }
    </section>

    <!-- SKILLS -->
    <section class="card p-6">
      <div class="flex items-center justify-between mb-4">
        <h2>Habilidades</h2>
        <p-button
          icon="pi pi-plus"
          label="Habilidades"
          size="small"
          (click)="skillsDialog.open()"
        />
      </div>

      @if (cv()?.skills?.length) {
        <div class="flex items-center gap-2">
          @for (skill of cv()?.skills; track $index) {
            <p class="green-badge">
              <span>{{ skill }}</span>
              <span (click)="deleteSkill(skill)">
                <i class="pi pi-times" style="font-size: 1.1rem"></i>
              </span>
            </p>
          }
        </div>
      } @else {
        <app-empty-state />
      }
    </section>
  </div>
}
<!-- OLD -->
<!-- <div class="flex flex-col gap-4 flex-1">
      <aside class="card p-4 flex flex-col gap-2">
        <h2 class="font-bold">{{ 'cv.nivel_acceso' | translate }}</h2>
        <div class="card flex flex-col gap-2">
          <div
            class="bg-white rounded-2xl shadow-sm flex flex-row md:flex-col lg:flex-row justify-between p-3 border border-gray-300 gap-2"
          >
            <div class="text-sm flex-1">
              <h3 class="font-bold">{{ 'cv.publico' | translate }}</h3>
              <p class="text-gray-600">{{ 'cv.descripcion_publico' | translate }}</p>
            </div>
            <div class="flex items-center justify-end">
              <span class="green-badge">{{ 'cv.activo' | translate }}</span>
            </div>
          </div>
          <div
            class="bg-white rounded-2xl shadow-sm flex flex-row md:flex-col lg:flex-row justify-between p-3 border border-gray-300 gap-2"
          >
            <div class="text-sm flex-1">
              <h3 class="font-bold">{{ 'cv.protegido' | translate }}</h3>
              <p class="text-gray-600">{{ 'cv.descripcion_protegido' | translate }}</p>
            </div>
            <div class="flex items-center justify-end">
              <span class="accent-badge">{{ 'cv.con_permiso' | translate }}</span>
            </div>
          </div>
          <div
            class="bg-white rounded-2xl shadow-sm flex flex-row md:flex-col lg:flex-row justify-between p-3 border border-gray-300 gap-2"
          >
            <div class="text-sm flex-1">
              <h3 class="font-bold">{{ 'cv.privado' | translate }}</h3>
              <p class="text-gray-600">{{ 'cv.descripcion_privado' | translate }}</p>
            </div>
            <div class="flex items-center justify-end">
              <span class="gray-badge">{{ 'cv.oculto' | translate }}</span>
            </div>
          </div>
        </div>
      </aside>

      <aside class="card space-y-2 p-4">
        <h2 class="font-bold">{{ 'cv.senales_verificadas' | translate }}</h2>
        <div class="card flex flex-col divide-y text-sm divide-gray-300">
          <div class="flex justify-between py-2">
            <h3 class="text-gray-600">{{ 'cv.logros_validados' | translate }}</h3>
            <span class="font-bold">18</span>
          </div>
          <div class="flex justify-between py-2">
            <h3 class="text-gray-600">{{ 'cv.evaluaciones_positivas' | translate }}</h3>
            <span class="font-bold">9</span>
          </div>
          <div class="flex justify-between py-2">
            <h3 class="text-gray-600">{{ 'cv.reconocimientos' | translate }}</h3>
            <span class="font-bold">6</span>
          </div>
          <div class="flex justify-between py-2">
            <h3 class="text-gray-600">{{ 'cv.alertas' | translate }}</h3>
            <span class="font-bold">0</span>
          </div>
        </div>
      </aside>
    </div> -->
