<div class="p-4 pt-0 lg:pl-0 flex flex-col md:flex-row lg:flex-col xl:flex-row gap-4 w-full">
  @if (loading()) {
    <p-skeleton width="100%" height="16rem" borderRadius="1.5rem" />
  } @else {
    <section class="card p-8 space-y-4">
      <div class="flex flex-col lg:flex-row items-center gap-4 lg:justify-between">
        <div class="flex items-center gap-6 flex-col md:flex-row">
          <div class="shrink-0">
            <app-custom-avatar
              [src]="'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
              size="size-32"
              [name]="aspirant()?.first_name || 'name'"
              fontSize="text-5xl"
            />
          </div>
          <div class="text-center md:text-left">
            <h1 class="text-3xl flex gap-1 items-center justify-center md:justify-start">
              {{ aspirant() | fullName }}
              <span>
                <i
                  class="pi pi-verified"
                  style="font-size: 1.1rem; color: var(--color-sky-500)"
                ></i>
              </span>
              <!-- @if (perfil().is_verified) {
              } -->
            </h1>
            <p class="text-gray-600 text-sm">
              {{ cv()?.profession }}
            </p>
            <!-- 

            <div class="flex flex-wrap gap-2 justify-center md:justify-start">
              @for (approach of perfil().approach; track $index) {
                <span class="green-badge">{{ approach }}</span>
              }
            </div>
             -->
          </div>
        </div>
        <div class="shrink-0">
          <app-editar-perfil-dialog [perfil]="" />
        </div>
        <!--  @if (editable()) {
        } -->
      </div>
      <div class="flex flex-wrap gap-2 justify-center md:justify-start">
        <!-- SKILLS -->
        @for (skill of cv()?.skills; track $index) {
          <span class="green-badge">{{ skill }}</span>
        }
      </div>
      <div class="flex flex-wrap gap-2 justify-center md:justify-start">
        <!-- LANGUAGES -->
        @for (language of cv()?.languages; track $index) {
          <span class="gray-badge">{{ language.name + ' ' + language.level }}</span>
        }
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div
        class="flex flex-wrap items-center justify-center gap-4 text-sm text-gray-600 md:justify-start"
      >
        <p class="flex items-center gap-1">
          <i class="pi pi-map-marker" style="font-size: 1.1rem"></i>{{ cv()?.location }}
        </p>
        <p class="flex items-center gap-1">
          <i class="pi pi-envelope" style="font-size: 1.1rem"></i>
          {{ aspirant()?.email }}
        </p>
        <p class="flex items-center gap-1">
          <i class="pi pi-phone" style="font-size: 1.1rem"></i>
          {{ aspirant()?.phone }}
        </p>
      </div>
      <div
        class="flex flex-wrap items-center justify-center gap-4 text-sm text-gray-600 md:justify-start"
      >
        <p class="flex items-center gap-1">
          <i class="pi pi-calendar" style="font-size: 1.1rem"></i
          >{{ aspirant()?.birth_date | formatDate }}
        </p>
        <p class="flex items-center gap-1">
          <i class="pi pi-id-card" style="font-size: 1.1rem"></i>{{ aspirant()?.dni }}
        </p>
        <p class="flex items-center gap-1">
          <i class="pi pi-user" style="font-size: 1.1rem"></i> {{ aspirant()?.gender | gender }}
        </p>
      </div>
    </section>

    <!-- <div class="w-full flex flex-col lg:flex-row gap-4">
        <section class="card p-8 flex-1 space-y-2">
          <div class="flex flex-wrap-reverse justify-between gap-2">
            <h2>{{ 'perfil.candidato.documentos' | translate }}</h2>
            <p-button
              [label]="'perfil.candidato.subir' | translate"
              icon="pi pi-upload"
              size="small"
            />
          </div>

          <div class="flex flex-col divide-y text-sm divide-gray-300 w-full">
            <div class="flex justify-between py-2 items-center">
              <div>
                <h3>{{ 'perfil.candidato.cv_ejecutivo' | translate }}</h3>
                <span class="text-gray-600"
                  >{{ 'perfil.candidato.actualizado_hace' | translate }} 2
                  {{ 'perfil.candidato.dias' | translate }}</span
                >
              </div>
              <span class="text-gray-600">{{ 'perfil.candidato.activo' | translate }}</span>
            </div>
            <div class="flex justify-between py-2 items-center">
              <div>
                <h3>
                  {{ 'perfil.candidato.portafolio_proyectos' | translate }}
                </h3>
                <span class="text-gray-600">{{
                  'perfil.candidato.dashboard_campanas_autom' | translate
                }}</span>
              </div>
              <span class="text-gray-600">{{ 'perfil.candidato.activo' | translate }}</span>
            </div>
            <div class="flex justify-between py-2 items-center">
              <div>
                <h3>
                  {{ 'perfil.candidato.identidad_verificada' | translate }}
                </h3>
                <span class="text-sm text-gray-600">{{
                  'perfil.candidato.validacion_usuario_b2c' | translate
                }}</span>
              </div>
              <span class="text-sm text-gray-600">&#10003;</span>
            </div>
          </div>
        </section>

        <section class="card p-8 flex-1 space-y-2">
          <div class="flex flex-wrap-reverse justify-between gap-2">
            <h2>{{ 'perfil.candidato.visibilidad' | translate }}</h2>
            <span class="green-badge">{{ 'perfil.candidato.controlada' | translate }}</span>
          </div>

          <form [formGroup]="switchForm" class="flex flex-col gap-2 text-sm w-full">
            <div
              class="flex justify-between py-2 items-center border border-gray-300 rounded-2xl p-2"
            >
              <div>
                <h3>
                  {{ 'perfil.candidato.perfil_basico_publico' | translate }}
                </h3>
                <span class="text-gray-600">{{
                  'perfil.candidato.nombre_cargo_etc' | translate
                }}</span>
              </div>

              <p-toggleswitch formControlName="perfil_basico_publico" />
            </div>

            <div
              class="flex justify-between py-2 items-center border border-gray-300 rounded-2xl p-2"
            >
              <div>
                <h3>
                  {{ 'perfil.candidato.salario_pretendido' | translate }}
                </h3>
                <span class="text-gray-600">{{
                  'perfil.candidato.visible_cuando_aplico' | translate
                }}</span>
              </div>

              <p-toggleswitch formControlName="salario_pretendido" />
            </div>

            <div
              class="flex justify-between py-2 items-center border border-gray-300 rounded-2xl p-2"
            >
              <div>
                <h3>
                  {{ 'perfil.candidato.historial_detallado' | translate }}
                </h3>
                <span class="text-gray-600">{{
                  'perfil.candidato.requiere_aprobacion_manual' | translate
                }}</span>
              </div>

              <p-toggleswitch formControlName="historial_detallado" />
            </div>
          </form>
        </section>
      </div> -->

    <!-- COMPLETITUD DE PERFIL -->
    <!--   <aside class="flex flex-col gap-4 flex-1 card p-8">
      <div class="flex flex-wrap-reverse justify-between gap-2">
        <h2>{{ 'perfil.candidato.completitud_perfil' | translate }}</h2>
        <span class="green-badge">{{ profilePercentage() }} %</span>
      </div>

      <div
        class="flex gap-4 lg:gap-12 flex-col lg:flex-row xl:flex-col items-center justify-center xl:justify-between"
      >
        <app-chart-doughnut [percentage]="profilePercentage()" />

        <div class="card flex flex-col divide-y text-sm divide-gray-300 w-full sm:w-xs">
          <div class="flex justify-between py-2">
            <h3 class="text-gray-600" style="font-weight: normal">
              {{ 'perfil.candidato.datos_personales' | translate }}
            </h3>
            <span class="font-bold">100%</span>
          </div>
          <div class="flex justify-between py-2">
            <h3 class="text-gray-600" style="font-weight: normal">
              {{ 'perfil.candidato.experiencia' | translate }}
            </h3>
            <span class="font-bold">90%</span>
          </div>
          <div class="flex justify-between py-2">
            <h3 class="text-gray-600" style="font-weight: normal">
              {{ 'perfil.candidato.evaluaciones' | translate }}
            </h3>
            <span class="font-bold">72%</span>
          </div>
          <div class="flex justify-between py-2">
            <h3 class="text-gray-600" style="font-weight: normal">
              {{ 'perfil.candidato.referencias' | translate }}
            </h3>
            <span class="font-bold">64%</span>
          </div>
        </div>
      </div>
    </aside> -->
  }
</div>
