<div class="p-4 pt-0 lg:pl-0 space-y-4">
  <!-- FILTROS -->
  <section class="card p-8 flex flex-col gap-2">
    <h1 class="text-2xl inter-font font-bold mb-2">Buscar Empresas</h1>
    <form
      [formGroup]="search_form"
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-[1fr_1fr_1fr_auto] gap-3 items-end"
    >
      <input
        pInputText
        id="search_name"
        placeholder="Buscar por nombre"
        formControlName="search_name"
        fluid
      />

      <input
        pInputText
        id="search_location"
        placeholder="Buscar por ubicación"
        formControlName="search_location"
        fluid
      />

      <input
        pInputText
        id="search_approach"
        placeholder="Buscar por approach"
        formControlName="search_approach"
        fluid
      />

      <p-button icon="pi pi-search" label="Buscar" (onClick)="load()" [loading]="loading()" />
    </form>
  </section>

  @if (loading()) {
    <!-- SKELETONS -->
    <div class="grid justify-items-center grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
      @for (item of items; track $index) {
        <div class="w-full max-w-md rounded-3xl bg-white p-4 shadow-sm">
          <div class="mb-4 flex items-center gap-3">
            <p-skeleton shape="circle" size="3rem" />
            <p-skeleton width="40%" height="1.5rem" borderRadius="16px" />
          </div>
          <div class="mt-4 flex flex-wrap gap-2">
            @for (item of tags; track $index) {
              <p-skeleton width="25%" height="1.5rem" borderRadius="16px" />
            }
          </div>
        </div>
      }
    </div>
  } @else {
    @if (empresas().length) {
      <!-- CARDS -->
      <div class="grid justify-items-center grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
        @for (empresa of empresas(); track empresa.id) {
          <div class="w-full max-w-md card p-4 flex flex-col gap-4">
            <div class="flex items-center gap-2 justify-between">
              <div class="flex items-center gap-2">
                <div class="shrink-0">
                  @if (empresa.url_profile_photo) {
                    <p-avatar size="large" shape="circle" [image]="empresa.url_profile_photo" />
                  } @else {
                    <p-avatar size="large" shape="circle" [label]="empresa.name.charAt(0)" />
                  }
                </div>
                <div>
                  <h2 class="flex items-center gap-1">
                    {{ empresa.name }}
                    <i
                      class="pi pi-verified"
                      style="font-size: 1.1rem; color: var(--color-sky-500)"
                    ></i>
                  </h2>
                </div>
              </div>
              <div><p-button size="small" label="Ver" [routerLink]="[empresa.id]" /></div>
            </div>
            <div class="text-sm flex flex-col gap-2">
              <div class="flex gap-2">
                @for (location of empresa.locations; track location) {
                  <span class="accent-badge">{{ location }}</span>
                }
              </div>
              <div class="flex gap-2 flex-wrap">
                @for (approach of empresa.approach; track approach) {
                  <span class="gray-badge">{{ approach }}</span>
                }
              </div>
            </div>
            <!-- <div class="flex items-center gap-2">
          <p-avatar size="large" shape="circle" [label]="empresa.name.charAt(0)" />
          <div>
            <h2 class="inter-font font-bold">{{ empresa.name }}</h2>
            <div class="text-sm flex gap-2 items-center text-gray-600">
              <span>{{ empresa.industry }}</span>
              <span>&bull;</span>
              <span>{{ empresa.country }}</span>
            </div>
          </div>
        </div>
        <div class="text-sm flex flex-col gap-2">
  
          <div class="flex items-center gap-2">
            <span class="w-40 text-gray-600">{{ 'empresas.ascensosInternos' | translate }}</span>
       
            <div class="w-64 bg-gray-100 rounded-full h-3">
              <div
                class="flex h-3 bg-lite rounded-full"
                [style.width.%]="empresa.ascensos_internos"
              ></div>
            </div>
         
            <span>{{ empresa.ascensos_internos }}%</span>
          </div>
         
          <div class="flex items-center gap-2">
            <span class="w-40 text-gray-600">{{ 'empresas.rotacionBaja' | translate }}</span>
        
            <div class="w-64 bg-gray-100 rounded-full h-3">
              <div class="flex h-3 bg-lite rounded-full" [style.width.%]="empresa.rotacion"></div>
            </div>
       
            <span>{{ empresa.rotacion }}%</span>
          </div>
      
          <div class="flex items-center gap-2">
            <span class="w-40 text-gray-600">{{ 'empresas.beneficiosReales' | translate }}</span>
        
            <div class="w-64 bg-gray-100 rounded-full h-3">
              <div
                class="flex h-3 bg-lite rounded-full"
                [style.width.%]="empresa.beneficios_reales"
              ></div>
            </div>
      
            <span>{{ empresa.beneficios_reales }}%</span>
          </div>
        </div>
        <div class="flex gap-2">
          @if (empresa.reputacion_alta) {
            <span class="green-badge">{{ 'empresas.reputacionAlta' | translate }}</span>
          }
          @if (empresa.solicito_acceso) {
            <span class="accent-badge">{{ 'empresas.solicitoAcceso' | translate }}</span>
          }
          @if (empresa.vacantes > 0) {
            <span class="gray-badge"
              >{{ empresa.vacantes }}
              {{
                empresa.vacantes === 1
                  ? ('empresas.vacante' | translate)
                  : ('empresas.vacantes' | translate)
              }}</span
            >
          }
        </div> -->
          </div>
        }
      </div>
    } @else {
      <app-empty-state />
    }
  }
</div>
