<form
  [formGroup]="searchForm"
  (ngSubmit)="buscar()"
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-[1fr_1fr_1fr_auto] gap-3 items-end"
>
  <input
    pInputText
    id="name"
    placeholder="Ej. desarrollador, analista, gerente"
    formControlName="name"
    fluid
  />

  <!-- Área -->
  <app-area-select [control]="department" />

  <!-- Modalidad -->
  <app-format-select [control]="format" [useLabelAsValue]="true" />

  <!-- Salario mínimo -->
  <p-iconfield class="flex-1">
    <p-inputicon class="pi pi-dollar" />
    <p-inputnumber
      inputId="min_salary"
      formControlName="min_salary"
      placeholder="Salario mínimo"
      [min]="0"
      [useGrouping]="true"
      [maxFractionDigits]="2"
      fluid
    />
  </p-iconfield>

  <!-- Salario máximo -->
  <p-iconfield class="flex-1">
    <p-inputicon class="pi pi-dollar" />
    <p-inputnumber
      inputId="max_salary"
      formControlName="max_salary"
      placeholder="Salario mínimo"
      [min]="0"
      [useGrouping]="true"
      [maxFractionDigits]="2"
      fluid
    />
  </p-iconfield>

  <div class="flex gap-2 items-center">
    <p-button type="submit" icon="pi pi-search" label="Buscar" [loading]="loading()" />
    <p-button
      type="button"
      severity="secondary"
      label="Limpiar filtros"
      [loading]="loading()"
      (onClick)="resetForm()"
      styleClass="whitespace-nowrap"
    />
  </div>
</form>
