<label>Procesos <span class="text-accent-500">*</span></label>
<p-multiselect
  [options]="processes()"
  [formControl]="control()"
  optionLabel="name"
  optionValue="id"
  [showClear]="true"
  placeholder="Seleccionar procesos"
  class="w-full"
  fluid
>
  <ng-template #item let-process>
    <div class="flex items-center gap-2">
      <span>{{ process.name }}</span>
    </div>
  </ng-template>

  <ng-template #selecteditems>
    <div class="flex flex-wrap gap-1">
      @for (id of selected; track id) {
        <p-chip
          [label]="getProcessName(id)"
          [removable]="true"
          (onRemove)="removeItem($event, id)"
          [pt]="{
            root: { class: 'py-0!' },
            label: { class: 'text-xs!' },
          }"
        />
      }
    </div>
  </ng-template>
</p-multiselect>
@if (control().invalid && control().touched) {
  <p-message severity="error" size="small" variant="simple" class="mt-1">
    @if (control().hasError('required')) {
      Los procesos son obligatorios.
    }
  </p-message>
}
