/* Common styles */
span {
  line-height: 1;
}

#landing-container {
  #hero-green-forest {
    background-image: radial-gradient(var(--p-primary-200) 1px, transparent 1px);
    background-size: 24px 24px;

    .glass {
      filter: blur(100px);
      opacity: 0.25;
      mix-blend-mode: multiply;
      position: absolute;
      width: 48rem;
      height: 48rem;
      pointer-events: none;
      z-index: 0;
    }

    .glass-up {
      background-color: var(--p-primary-200);
    }

    .glass-down {
      background-color: rgb(203, 225, 253);
    }

    #hero {
      .container-caption {
        .animate-pulse {
          background-color: var(--p-primary-500);
        }

        #container-phrase {
          span {
            &:nth-last-child(3) {
              line-height: 1.2;
              background-clip: text;
              color: var(--p-primary-500);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-image: linear-gradient(to right, var(--p-primary-500), var(--p-primary-300));
            }
          }

          .CTA {
            p-button {
              display: flex;
              width: fit-content;
            }
          }
        }
      }
    }
  }
}


.text-pr-500{
  color: var(--p-primary-500);
}

.text-sf-500{
  color: var(--p-surface-500);
}
