<div class="relative min-h-screen">
  <!-- Imagen de fondo -->
  <img
    src="/bosque-1.jpg"
    alt=""
    loading="lazy"
    decoding="async"
    class="fixed inset-0 h-screen w-screen object-cover object-bottom -z-20 select-none"
  />

  <div class="relative z-10 flex min-h-screen items-center justify-center p-6 sm:p-6 lg:p-8">
    <div class="w-full max-w-3xl rounded-3xl bg-white px-6 py-7 shadow-xl sm:px-8 pt-0">
      <div class="logo mx-auto cursor-pointer" routerLink="/"></div>

      <div class="mb-8 text-center">
        <h1 class="text-3xl font-light text-primary">Creación de Cuenta</h1>
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="signup()" class="w-full">
        @if (currentStep() === 1) {
          <app-tenant-form [form]="tenantForm" />

          <div class="flex justify-end mt-4">
            <button type="button" pButton label="Siguiente" (click)="nextStep()"></button>
          </div>
        }

        @if (currentStep() === 2) {
          <app-representative-form [form]="representativeForm" />

          <div class="flex justify-between mt-4">
            <button
              type="button"
              pButton
              label="Anterior"
              severity="secondary"
              (click)="previousStep()"
            ></button>

            <button type="submit" pButton label="Crear cuenta" [loading]="loading()"></button>
          </div>
        }
      </form>
    </div>
  </div>
</div>
