<div class="flex flex-col gap-1">
  <p-select
    id="country"
    [formControl]="control()"
    [options]="countries()"
    optionLabel="name"
    optionValue="phone_code"
    placeholder="Código de país"
    [loading]="loading()"
    appendTo="body"
  >
    <ng-template #item let-country>
      <div class="flex items-center gap-2">
        <span>{{ country.name }}</span>
        <span class="text-color-secondary">
          {{ country.phone_code }}
        </span>
      </div>
    </ng-template>

    <ng-template #selectedItem let-country>
      @if (country) {
        <span>{{ country.name }} ({{ country.phone_code }})</span>
      }
    </ng-template>
  </p-select>
</div>
