@if (loading()) {
  <p-skeleton width="100%" height="20rem" borderRadius="1.5rem" />
} @else {
  @if (candidato()) {
    <!-- PERFIL -->
    <section class="card p-8 space-y-4 w-full">
      <div class="flex flex-col lg:flex-row items-center gap-4 lg:justify-between">
        <div class="flex items-center gap-6 flex-col md:flex-row">
          <div class="shrink-0">
            <app-custom-avatar
              [src]="candidato()?.profile_photo"
              size="size-32"
              [name]="candidato()?.first_name || 'name'"
              fontSize="text-5xl"
            />
          </div>
          <div class="text-center md:text-left">
            <h1 class="text-3xl flex gap-1 items-center justify-center md:justify-start">
              {{ candidato() | fullName }}
              <span>
                <i
                  class="pi pi-verified"
                  style="font-size: 1.1rem; color: var(--color-sky-500)"
                ></i>
                <!-- @if (perfil().is_verified) {
                } -->
              </span>
            </h1>
            <p class="text-gray-600 text-sm">
              {{ candidato()?.profession }}
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap gap-2 justify-center md:justify-start">
        <!-- SKILLS -->
        @for (skill of candidato()?.skills; track $index) {
          <span class="green-badge">{{ skill }}</span>
        }
      </div>
      <div class="flex flex-wrap gap-2 justify-center md:justify-start">
        <!-- LANGUAGES -->
        @for (language of candidato()?.languages; track $index) {
          <span class="gray-badge">{{ language.name + ' ' + language.level }}</span>
        }
      </div>
      <p>
        {{ candidato()?.description }}
      </p>
      <div
        class="flex flex-wrap items-center justify-center gap-4 text-sm text-gray-600 md:justify-start"
      >
        <p class="flex items-center gap-1">
          <i class="pi pi-map-marker" style="font-size: 1.1rem"></i
          >{{ candidato()?.address + ', ' + candidato()?.country?.name }}
        </p>
        <p class="flex items-center gap-1">
          <i class="pi pi-envelope" style="font-size: 1.1rem"></i>
          {{ candidato()?.email }}
        </p>
        <p class="flex items-center gap-1">
          <i class="pi pi-phone" style="font-size: 1.1rem"></i>
          {{ candidato()?.phone }}
        </p>
      </div>
      <div
        class="flex flex-wrap items-center justify-center gap-4 text-sm text-gray-600 md:justify-start"
      >
        <p class="flex items-center gap-1">
          <i class="pi pi-calendar" style="font-size: 1.1rem"></i
          >{{ candidato()?.birth_date | formatDate }}
        </p>
        <p class="flex items-center gap-1">
          <i class="pi pi-id-card" style="font-size: 1.1rem"></i>{{ candidato()?.dni }}
        </p>
        <p class="flex items-center gap-1">
          <i class="pi pi-user" style="font-size: 1.1rem"></i> {{ candidato()?.gender }}
        </p>
      </div>
    </section>
    <!-- TODO: agregar CV -->
  } @else {
    <app-empty-state />
  }
}
