<p-card class="shadow-sm border border-(--p-surface-200)">
  <div class="flex flex-col gap-6">
    <h1 class="text-3xl inter-font text-(--p-forest-primary)">
      Vacantes <em class="italic playfair-font text-(--p-forest-mid)">verificadas</em>
    </h1>
    <div class="flex gap-4 w-full">
      <input
        type="text"
        pInputText
        placeholder="Puesto, palabras clave o empresa"
        class="grow"
        [(ngModel)]="searchQuery"
        size="small"
      />
      <p-button label="Buscar" (click)="buscar()" />
    </div>
    <!-- FILTROS -->

    <div class="filters-demo">
      <div class="filter-chip active-chip">Todas las áreas</div>
      <div class="filter-chip">Tecnología</div>
      <div class="filter-chip">Administración</div>
      <div class="filter-chip">Ventas</div>
      <div class="filter-chip">Recursos Humanos</div>
      <div class="filter-chip">Operaciones</div>
      <div class="filter-chip">Finanzas</div>
    </div>
    <div style="display: flex; gap: 12px; margin-top: 12px; flex-wrap: wrap">
      <div class="filter-select">Salario ▾</div>
      <div class="filter-select">Ubicación ▾</div>
      <div class="filter-select">Tipo de contrato ▾</div>
    </div>
  </div>
</p-card>
