<section class="max-w-[1180px] mx-auto">
  <div class="flex gap-4">
    <!-- EMPRESAS -->
    <div class="bg-white flex-1 rounded-3xl p-8">
      <div class="flex flex-col gap-4 items-start mb-4">
        <span class="bg-(--p-surface-200) py-3 px-4 rounded-lg">
          <i class="pi pi-building" style="color: var(--p-primary-600)"></i>
        </span>
        <h2 class="text-3xl font-bold">Para empresas</h2>
        <p class="text-gray-600">
          Herramientas inteligentes para construir equipos de alto desempeño.
        </p>
      </div>
      <div class="flex flex-col gap-4">
        @for (item of empresas(); track item.id) {
          <div class="flex gap-2 items-center">
            <span class="bg-(--p-surface-200) py-1 px-2 rounded-lg">
              <i [class]="'pi ' + item.icono" style="color: var(--p-primary-600)"></i>
            </span>
            <div class="text-xs">
              <h3 class="font-bold inter-font mb-1">{{ item.titulo }}</h3>
              <p class="text-gray-600">{{ item.descripcion }}</p>
            </div>
          </div>
        }
      </div>
    </div>
    <!-- CANDIDATOS -->
    <div class="bg-white flex-1 rounded-3xl p-8">
      <div class="flex flex-col gap-4 items-start mb-4">
        <span class="bg-(--p-surface-200) py-3 px-4 rounded-lg">
          <i class="pi pi-user" style="color: var(--p-primary-600)"></i>
        </span>
        <h2 class="text-3xl font-bold">Para candidatos</h2>
        <p class="text-gray-600">
          Oportunidades reales para impulsar tu carrera y desarrollar tu potencial.
        </p>
      </div>
      <div class="flex flex-col gap-4">
        @for (item of candidatos(); track item.id) {
          <div class="flex gap-2 items-center">
            <span class="bg-(--p-surface-200) py-1 px-2 rounded-lg">
              <i [class]="'pi ' + item.icono" style="color: var(--p-primary-600)"></i>
            </span>
            <div class="text-xs">
              <h3 class="font-bold inter-font mb-1">{{ item.titulo }}</h3>
              <p class="text-gray-600">{{ item.descripcion }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
