<div class="flex justify-center">
  <p-button
    icon="pi pi-pencil"
    class="flex"
    [rounded]="true"
    size="small"
    [label]="'perfil.candidato.editar_perfil' | translate"
    (click)="openDialog()"
  />
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    [header]="'perfil.candidato.editar_perfil' | translate"
    [style]="{ width: '48rem', borderRadius: '1.5rem' }"
  >
    <form [formGroup]="perfilForm" (ngSubmit)="save()" class="flex flex-col gap-4 w-full">
      <div class="flex flex-col md:flex-row gap-4">
        <!-- IZQUIERDA -->
        <div class="flex flex-col gap-4 flex-1">
          <!-- DNI -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm">DNI <span class="text-accent-500">*</span></label>
            <input
              pInputText
              type="text"
              id="dni"
              formControlName="dni"
              placeholder="DNI"
              required
              [invalid]="dni.invalid && dni.touched"
              fluid
            />
            @if (dni.invalid && dni.touched) {
              <p-message severity="error" size="small" variant="simple">
                @if (dni.hasError('required')) {
                  El DNI es obligatorio.
                }
              </p-message>
            }
          </div>

          <!-- PRIMER NOMBRE -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm"
              >Primer nombre <span class="text-accent-500">*</span></label
            >
            <input
              pInputText
              type="text"
              id="first_name"
              formControlName="first_name"
              placeholder="Primer Nombre"
              required
              [invalid]="first_name.invalid && first_name.touched"
              fluid
            />
            @if (first_name.invalid && first_name.touched) {
              <p-message severity="error" size="small" variant="simple">
                @if (first_name.hasError('required')) {
                  El primer nombre es obligatorio.
                }
              </p-message>
            }
          </div>

          <!-- SEGUNDO NOMBRE -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm">Segundo nombre</label>
            <input
              pInputText
              type="text"
              id="second_name"
              formControlName="second_name"
              placeholder="Segundo Nombre"
              [invalid]="second_name.invalid && second_name.touched"
              fluid
            />
          </div>

          <!-- PRIMER APELLIDO -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm"
              >Primer apellido <span class="text-accent-500">*</span></label
            >
            <input
              pInputText
              type="text"
              id="first_surname"
              formControlName="first_surname"
              placeholder="Primer Apellido"
              required
              [invalid]="first_surname.invalid && first_surname.touched"
              fluid
            />
            @if (first_surname.invalid && first_surname.touched) {
              <p-message severity="error" size="small" variant="simple">
                @if (first_surname.hasError('required')) {
                  El primer apellido es obligatorio.
                }
              </p-message>
            }
          </div>

          <!-- SEGUNDO APELLIDO -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm">Segundo apellido</label>
            <input
              pInputText
              type="text"
              id="second_surname"
              formControlName="second_surname"
              placeholder="Segundo apellido"
              [invalid]="second_surname.invalid && second_surname.touched"
              fluid
            />
          </div>

          <!-- DOMICILIO -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm">Domicilio</label>
            <input
              pInputText
              type="text"
              id="address"
              formControlName="address"
              placeholder="Domicilio"
              [invalid]="address.invalid && address.touched"
              fluid
            />
          </div>

          <!-- TELÉFONO -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm"
              >Número de teléfono <span class="text-accent-500">*</span></label
            >
            <input
              pInputText
              type="text"
              id="phone"
              formControlName="phone"
              placeholder="+50399887766"
              required
              [invalid]="phone.invalid && phone.touched"
              fluid
            />
            @if (phone.invalid && phone.touched) {
              <p-message severity="error" size="small" variant="simple">
                @if (phone.hasError('required')) {
                  El número de teléfono es obligatorio.
                } @else if (phone.hasError('invalidPhone')) {
                  El número de teléfono no es válido.
                }
              </p-message>
            }
          </div>

          <!-- DESCRIPCIÓN-->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm">Descripción <span class="text-accent-500">*</span></label>
            <textarea
              id="description"
              formControlName="description"
              rows="5"
              cols="30"
              pTextarea
              placeholder="descripción"
              required
              [invalid]="description.invalid && description.touched"
              [autoResize]="true"
            ></textarea>
            @if (description.invalid && description.touched) {
              <p-message severity="error" size="small" variant="simple">
                @if (description.hasError('required')) {
                  La descripción es obligatoria.
                }
              </p-message>
            }
          </div>
        </div>

        <!-- DERECHA -->
        <div class="flex flex-col gap-4 flex-1">
          <!-- IMAGEN DE PERFIL-->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm"
              >Imagen de perfil <span class="text-accent-500">*</span></label
            >
            <input
              pInputText
              type="text"
              id="profile_photo"
              formControlName="profile_photo"
              placeholder="Imagen de perfil"
              required
              [invalid]="profile_photo.invalid && profile_photo.touched"
              fluid
            />
            @if (profile_photo.invalid && profile_photo.touched) {
              <p-message severity="error" size="small" variant="simple">
                @if (profile_photo.hasError('required')) {
                  La imagen de perfil es obligatoria.
                }
              </p-message>
            }
          </div>

          <!-- FECHA DE NACIMIENTO -->
          <div class="flex flex-col gap-1.5">
            <label pLabel class="text-sm"
              >Fecha de nacimiento <span class="text-accent-500">*</span></label
            >
            <p-datepicker
              formControlName="birth_date"
              [showIcon]="true"
              inputId="birth_date"
              dateFormat="dd/mm/yy"
            />
            @if (birth_date.invalid && birth_date.touched) {
              <p-message severity="error" size="small" variant="simple">
                @if (birth_date.hasError('required')) {
                  La fecha de nacimiento es obligatoria.
                }
              </p-message>
            }
          </div>

          <!-- GÉNERO -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm">Género <span class="text-accent-500">*</span></label>
            <p-select
              formControlName="gender"
              [options]="genderOptions"
              optionLabel="label"
              optionValue="value"
              placeholder="Género"
            />
            @if (gender.invalid && gender.touched) {
              <p-message severity="error" size="small" variant="simple">
                @if (gender.hasError('required') || gender.hasError('pattern')) {
                  El género es obligatorio.
                }
              </p-message>
            }
          </div>

          <!-- PAÍS -->
          <app-countries-select [control]="country" />

          <!-- DEPARTAMENTO -->
          <app-states-select [control]="department" [countryControl]="country" />

          <!-- PROFESIÓN -->
          <div class="flex flex-col gap-1">
            <label pLabel class="text-sm">Profesión</label>
            <input
              pInputText
              type="text"
              id="profession"
              formControlName="profession"
              placeholder="Profesión"
              [invalid]="profession.invalid && profession.touched"
              fluid
            />
          </div>

          <!-- FIN -->
        </div>
      </div>
    </form>
    <!-- BOTONES -->
    <ng-template pTemplate="footer">
      <p-button
        [label]="'common.cancelar' | translate"
        (click)="closeDialog()"
        severity="secondary"
        variant="outlined"
      />
      <p-button
        type="button"
        [loading]="loading()"
        (click)="save()"
        [label]="'common.guardar' | translate"
      />
    </ng-template>
  </p-dialog>
</div>
