.logo {
  width: 250px;
  height: 120px;

  background-color: var(--p-forest-mid);

  -webkit-mask: url('/logo.svg') center / contain no-repeat;
  mask: url('/logo.svg') center / contain no-repeat;
}

.background {
  background-image: url('/bosque-1.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}
