<div [class]="style()" class="card-container shadow-md rounded-md p-6 hpver:shadow-xl">
  <div class="icon-float pl-3xl absolute">
    <i [class]="icon()"></i>
  </div>
  <div id="card-info" class="flex flex-col">
    <span id="icon" class="w-fit py-2 px-4 rounded-sm">
      <i [class]="icon()" class="text-2xl!"></i>
    </span>
    <div id="info" class="flex flex-col z-1">
      <span id="title" class="text-2xl py-4 playfair-font"> {{ title() }} </span>
      <span id="description" class="font-light mb-4"> {{ description() }} </span>
      @if (itemsAdvantage.length > 0) {
        <div id="advantage-list">
          @for (item of itemsAdvantage(); track $index) {
            <div [id]="'item-' + $index" class="item mb-4">
              <span><i class="pi pi-check-circle mr-2"></i></span>
              <span class="font-light"> {{ item }} </span>
            </div>
          }
        </div>
      }
      <a class="link mt-4 text-(--p-forest-lite)" [routerLink]="link().route">
        {{ link().title }} →</a
      >
    </div>
  </div>
</div>
