.primary {
  background-color: var(--p-primary-500);
  background-image: linear-gradient(
    to left,
    var(--p-primary-700),
    var(--p-primary-600),
    var(--p-primary-500)
  );
  transform: translateY(-10px);
  color: white;

  .icon-float {
    i {
      color: var(--p-primary-200);
    }
  }

  &:hover {
    transform: translateY(0);

    .icon-float {
      i {
        color: var(--p-primary-50);
      }
    }
  }

  #icon {
    border: solid 1px var(--p-primary-200);
    backdrop-filter: brightness(1.15);

    i {
      color: var(--p-primary-100);
    }
  }

  .item {
    span:first-child {
      color: var(--p-primary-200);
    }
  }

  .link {
    color: var(--p-primary-200);
    transition: all 300ms ease-in-out;

    &:hover {
      color: white;
    }
  }
}

.secondary {
  background-color: white;
  .icon-float {
    i {
      color: var(--p-primary-100);
    }
  }

  &:hover {
    transform: translateY(-5px);

    .icon-float {
      i {
        color: var(--p-primary-400);
      }
    }
  }

  #icon {
    background-color: var(--p-primary-50);
    border: solid 1px var(--p-primary-100);

    i {
      color: var(--p-primary-600);
    }
  }

  .item {
    span:first-child {
      color: var(--p-primary-500);
    }
  }

  .link {
    transition: all 300ms ease-in-out;

    &:hover {
      color: var(--p-forest-lite);
    }
  }
}

.card-container {
  transition: all 300ms ease-in-out;
  overflow: hidden;

  .icon-float {
    width: 17%;
    height: 20%;
    opacity: 0.1;

    i {
      transform: rotate(310deg);
      font-size: 18rem;
      transition: all 300ms ease-in-out;
    }
  }
  &:hover {
    cursor: pointer;
  }
}
