<!-- <div id="presence" class="z-1 bg-white pt-20 pb-10">
  <div id="presence-green-forest" class="flex flex-col text-center">
    <span class="text-pr-500">PRESENCIA REGIONAL</span>
    <div id="presence-items" class="flex flex-col mt-6">
      <h2 class="text-4xl">
        Conectando el mejor talento<br />
        <em class="italic text-(--p-forest-lite)">en toda Latinoamérica</em>
      </h2>
      <p class="font-light max-w-3/4 mx-auto mb-4 mt-4">
        No importa dónde operés. Nuestra infraestructura está diseñada para escalar contigo, con
        soporte local y cumplimiento normativo regional.
      </p>
    </div>
    <div id="flash" class="mx-auto grid grid-cols-5 w-3/4 mt-6">
      <app-flash-data
        [legend]="this.analytics.countries.legend"
        [qty]="this.analytics.countries.qty"
        [icon]="this.analytics.countries.icon"
      ></app-flash-data>
      <app-flash-data
        [legend]="this.analytics.companies.legend"
        [qty]="this.analytics.companies.qty"
        [icon]="this.analytics.companies.icon"
      ></app-flash-data>
      <app-flash-data
        [legend]="this.analytics.users.legend"
        [qty]="this.analytics.users.qty"
        [icon]="this.analytics.users.icon"
      ></app-flash-data>
      <app-flash-data
        [legend]="this.analytics.jobs.legend"
        [qty]="this.analytics.jobs.qty"
        [icon]="this.analytics.jobs.icon"
      ></app-flash-data>
      <app-flash-data legend="Soporte local" qtyStrgin="24/7" icon="pi pi-wrench"></app-flash-data>
    </div>
  </div>
</div> -->
<section
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 w-full mt-8 max-w-[1180px] mx-auto"
>
  <div class="bg-white shadow-sm text-center rounded-3xl py-6 w-full">
    <div class="playfair-font text-(--p-forest-mid) text-4xl md:text-5xl">500+</div>
    <div class="mt-2 text-sm font-light">Empresas activas<br />en la plataforma</div>
  </div>
  <div class="bg-white shadow-sm text-center rounded-3xl py-6 w-full">
    <div class="playfair-font text-(--p-forest-mid) text-4xl md:text-5xl">25k+</div>
    <div class="mt-2 text-sm font-light">Candidatos<br />registrados</div>
  </div>
  <div class="bg-white shadow-sm text-center rounded-3xl py-6 w-full">
    <div class="playfair-font text-(--p-forest-mid) text-4xl md:text-5xl">92%</div>
    <div class="mt-2 text-sm font-light">Match exitoso<br />basado en datos</div>
  </div>
  <div class="bg-white shadow-sm text-center rounded-3xl py-6 w-full">
    <div class="playfair-font text-(--p-forest-mid) text-4xl md:text-5xl">3x</div>
    <div class="mt-2 text-sm font-light">Selección<br />más rápida</div>
  </div>
</section>
