<div class="p-4 pt-0 lg:pl-0 space-y-4">
  <section class="card p-8">
    <h1 class="text-2xl inter-font font-bold">Mis postulaciones</h1>
  </section>
  @if (loading()) {
    <!-- SKELETONS -->
    <div class="pipeline">
      @for (item of items; track $index) {
        <div class="w-full max-w-md rounded-3xl bg-white p-4 shadow-sm">
          <div class="mb-4 w-full flex justify-between items-center">
            <p-skeleton width="5rem" height="1.5rem" />
            <p-skeleton shape="circle" height="1.5rem" width="1.5rem" />
          </div>
          <div class="flex-1 space-y-3">
            <p-skeleton width="100%" height="4rem" />
            <p-skeleton width="100%" height="4rem" />
            <p-skeleton width="100%" height="4rem" />
          </div>
        </div>
      }
    </div>
  } @else {
    @if (!postulaciones().length) {
      <app-empty-state />
    } @else {
      <div class="pipeline">
        @for (status of statuses; track status.key) {
          <section class="rounded-3xl bg-white p-4 shadow-sm">
            <div class="mb-4 flex items-center justify-between">
              <h2 class="font-semibold">
                {{ status.title | translate }}
              </h2>

              <div class="accent-badge flex size-6 items-center justify-center">
                {{ getByStatus(status.key).length }}
              </div>
            </div>

            <div class="space-y-3 overflow-y-auto">
              @for (item of getByStatus(status.key); track item.id) {
                <article class="rounded-xl border border-gray-300 p-3 text-sm shadow-sm">
                  <h3 class="font-medium">{{ item.job_title }}</h3>
                  <p class="mt-1 text-gray-500">{{ item.name }}</p>
                </article>
              }
            </div>
          </section>
        }
      </div>
    }
  }
</div>
