<!-- EMPRESAS DEL SITIO -->
<!-- EMPRESAS -->
<!-- <div id="companies" class="flex flex-col w-full h-full bg-white z-1 pt-20">
  <div class="flex w-3/4 mx-auto">
    @if (this.analytics.companies.list!.length > 0 && this.analytics.companies.list!.length < 6) {
      @for (company of this.analytics.companies.list; track $index) {
        <div id="company" class="mx-auto max-w-[150px]">
          <img loading="lazy" [src]="company.image" [alt]="company.name" class="opacity-55" />
        </div>
      }
    } @else {
      <p-carousel
        [value]="this.analytics.companies.list ?? []"
        [numVisible]="4"
        ,
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
        [circular]="true"
        autoplayInterval="6000"
      >
        <ng-template let-company #item>
          <div id="company" class="mx-auto max-w-[150px]">
            <img loading="lazy" [src]="company.image" [alt]="company.name" class="opacity-55" />
          </div>
        </ng-template>
      </p-carousel>
    }
  </div>
</div> -->

<section
  class="w-full max-w-[1180px] bg-white backdrop-blur rounded-3xl shadow-sm mt-4 text-gray-400 flex py-5 pl-8 mb-20"
>
  <h2 class="inter-font font-bold text-(--p-forest-mid) uppercase text-xs max-w-[150px]">
    Empresas que confían en nosotros
  </h2>
  <div class="flex w-full justify-between px-16">
    <div class="flex items-center">
      <i class="pi pi-apple mr-2" style="font-size: 1.8rem"></i>
      <span class="font-bold text-sm">Natura</span>
    </div>
    <div class="flex items-center">
      <i class="pi pi-apple mr-2" style="font-size: 1.8rem"></i>
      <span class="font-bold text-sm">Andes</span>
    </div>
    <div class="flex items-center">
      <i class="pi pi-apple mr-2" style="font-size: 1.8rem"></i>
      <span class="font-bold text-sm">Verde</span>
    </div>
    <div class="flex items-center">
      <i class="pi pi-apple mr-2" style="font-size: 1.8rem"></i>
      <span class="font-bold text-sm">Horizonte</span>
    </div>
    <div class="flex items-center">
      <i class="pi pi-apple mr-2" style="font-size: 1.8rem"></i>
      <span class="font-bold text-sm">Sierra</span>
    </div>
    <div class="flex items-center">
      <i class="pi pi-apple mr-2" style="font-size: 1.8rem"></i>
      <span class="font-bold text-sm">Oceánica</span>
    </div>
  </div>
</section>
