<section class="flex flex-col lg:flex-row mt-32 mb-24 gap-12 max-w-[1180px] mx-auto px-4 lg:px-0">
  <div class="flex flex-col gap-4 justify-center">
    <span class="badge"> La nueva forma de conectar talento y empresas </span>
    <h1 class="font-medium text-4xl md:text-5xl lg:text-7xl">
      Mejores decisiones.<br />
      Mejor talento.<br />
      <em class="text-lite italic">Mejores Resultados.</em>
    </h1>
    <p class="text-sm md:text-base">
      Green Forest conecta empresas y personas en un ecosistema inteligente que impulsa el
      <span class="text-accent">talento correcto</span>, con evaluaciones objetivas, entrevistas
      asistidas por IA y un historial laboral
      <span class="text-accent">confiable y verificable</span>.
    </p>
    <div class="flex flex-col sm:flex-row gap-3 sm:gap-4">
      <p-button size="large" label="Explorar empleos" routerLink="/empleos" />
      <p-button
        size="large"
        label="Para empresas"
        variant="outlined"
        routerLink="/quienes-somos"
        iconPos="right"
        icon="pi pi-arrow-right"
      />
    </div>
  </div>
  <div>
    <div class="hero-image relative flex flex-col justify-end lg:min-w-[540px]">
      <div
        class="text-mid bg-white absolute top-8 left-8 p-3 rounded-2xl text-xs font-bold flex gap-2 items-center"
      >
        <i class="pi pi-android" style="font-size: 1.1rem; color: var(--color-accent)"></i>
        Entrevistas con IA
      </div>
      <div
        class="text-mid bg-white absolute top-32 right-8 p-3 rounded-2xl text-xs font-bold flex gap-2 items-center"
      >
        <i class="pi pi-clipboard" style="font-size: 1.1rem; color: var(--color-accent)"></i>
        Evaluaciones objetivas
      </div>
      <div
        class="text-mid bg-white absolute bottom-110 sm:bottom-45 right-6 p-3 rounded-2xl text-xs font-bold flex gap-2 items-center"
      >
        <i class="pi pi-shield" style="font-size: 1.1rem; color: var(--color-accent)"></i>
        Historial verificable
      </div>
      <div class="bg-gray-50 rounded-3xl p-6 absolute bottom-8 left-1 lg:left-8 w-sm shadow-sm">
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-xl sm:text-2xl font-bold">Resumen de talento</h3>
          <span class="text-xs bg-mist py-1 px-2 rounded-full text-mid font-bold"
            >Datos en vivo</span
          >
        </div>
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
          <div class="flex flex-col rounded-2xl border p-2 border-gray-300 bg-white w-full">
            <span class="text-xs">Candidatos</span>
            <span class="font-bold text-lg">25,600</span>
          </div>
          <div class="flex flex-col rounded-2xl border p-2 border-gray-300 bg-white w-full">
            <span class="text-xs">Entrevistas</span>
            <span class="font-bold text-lg">8,923</span>
          </div>
          <div class="flex flex-col rounded-2xl border p-2 border-gray-300 bg-white w-full">
            <span class="text-xs">Evaluaciones</span>
            <span class="font-bold text-lg">12,451</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
