<div class="flex flex-col gap-1">
  <label pLabel class="text-sm" for="state"
    >Departamento <span class="text-accent-500">*</span></label
  >
  <p-select
    id="state"
    [formControl]="control()"
    [options]="states()"
    optionLabel="name"
    optionValue="id"
    placeholder="Departamento"
    [loading]="loading()"
    appendTo="body"
  />

  @if (control().invalid && control().touched) {
    <p-message severity="error" size="small" variant="simple">
      @if (control().hasError('required')) {
        El departamento es obligatorio.
      }
    </p-message>
  }
</div>
