<div class="p-4 pt-0 lg:pl-0 flex flex-col md:flex-row lg:flex-col xl:flex-row gap-4">
  <div class="flex-1 w-full rounded-3xl bg-white p-8">
    <div class="mb-4 w-full flex justify-between items-start lg:items-center">
      <div class="space-y-2 flex-1">
        <p-skeleton width="30%" height="2rem" />
        <p-skeleton width="50%" height="2rem" />
      </div>
      <div class="lg:hidden flex">
        <p-skeleton shape="circle" height="2rem" width="2rem" />
      </div>
      <div class="hidden lg:flex">
        <p-skeleton height="2rem" width="6rem" />
      </div>
    </div>
    <div class="flex-1 space-y-3">
      <p-skeleton width="100%" height="15rem" borderRadius="1.5rem" />
      <p-skeleton width="100%" height="15rem" borderRadius="1.5rem" />
    </div>
  </div>
  <!-- <div class="w-[22rem] flex flex-col gap-4">
        <div class="bg-white rounded-3xl p-3 space-y-2">
            <p-skeleton width="50%" height="1.75rem" />
            <p-skeleton width="100%" height="3.8rem" />
            <p-skeleton width="100%" height="3.8rem" />
            <p-skeleton width="100%" height="3.8rem" />
        </div>
        <div class="card p-3 space-y-2">
            <p-skeleton width="50%" height="1.75rem" />
            <p-skeleton width="100%" height="1.75rem" />
            <p-skeleton width="100%" height="1.75rem" />
            <p-skeleton width="100%" height="1.75rem" />
            <p-skeleton width="100%" height="1.75rem" />
        </div>
    </div> -->
</div>
