@use 'tailwindcss';
@use 'primeicons/primeicons.css';

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: var(--p-forest-cream);
  min-height: 100vh;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

.playfair-font {
  font-family: 'Playfair', serif;
}

@font-face {
  font-family: 'Inter';
  src: url('./app/themes/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family: 'Playfair';
  src: url('./app/themes/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
em {
  font-family: 'Playfair', serif;
}

button.p-button-outlined {
  border: 1px solid var(--p-forest-primary);
}

button.p-button {
  border-radius: 0.75rem;
}

input.p-inputtext {
  border-radius: 0.75rem;
}

span.p-avatar-label {
  font-family: 'Playfair', serif;
}

ul li {
  line-height: 1;
}

.p-avatar.p-avatar-xl {
  border-radius: 1rem;
}

#tabla-etapas .p-datatable,
#tabla-etapas .p-datatable-table-container {
  border-radius: 1.5rem;
  overflow: hidden;
}

#logout-btn-dark .p-button:hover {
  background-color: rgba(239, 68, 68, 0.3);
}
