<section class="flex mt-32 mb-24 gap-12 max-w-[1180px] mx-auto">
  <div class="flex flex-col gap-4 justify-center">
    <span
      class="text-xs bg-white py-2 px-3 rounded-full text-mid font-bold w-fit shadow-md before:content-[''] before:inline-block before:size-2 before:rounded-full before:bg-mid before:mr-2"
    >
      Una plataforma para empresas y personas
    </span>
    <h1 class="font-medium text-7xl">
      Propuesta de<br />
      <em class="text-lite italic">valor dual.</em>
    </h1>
    <p class="">
      Green Forest conecta talento y organizaciones en un mismo ecosistema inteligente que impulsa
      decisiones más acertadas, trayectorias profesionales sólidas y resultados sostenibles.
    </p>
    <div class="flex gap-4">
      <p-button
        size="large"
        label="Portal de empresas"
        routerLink="/login-empresarial"
        iconPos="left"
        icon="pi pi-building"
      />
      <p-button
        size="large"
        label="Portal de candidatos"
        variant="outlined"
        routerLink="/login-candidato"
        iconPos="left"
        icon="pi pi-user"
      />
    </div>
  </div>
  <div>
    <div class="hero-image relative">
      <div class="bg-gray-50 rounded-3xl p-6 absolute top-5 left-3 w-sm shadow-sm">
        <h3 class="text-2xl font-bold mb-2">Analítica de Talento</h3>
        <div class="w-full flex justify-between text-xs">
          <p>Candidatos 1,248</p>
          <p>Contrataciones 48</p>
        </div>
        <div class="w-full h-24 pt-4 rounded-xl">
          <div class="flex items-end justify-between h-full gap-2">
            <div class="w-full bg-lite rounded-t-md" style="height: 40%"></div>
            <div class="w-full bg-lite rounded-t-md" style="height: 75%"></div>
            <div class="w-full bg-lite rounded-t-md" style="height: 60%"></div>
            <div class="w-full bg-lite rounded-t-md" style="height: 100%"></div>
            <div class="w-full bg-lite rounded-t-md" style="height: 50%"></div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 rounded-3xl p-6 absolute bottom-4 right-3 w-sm shadow-sm">
        <div class="flex mb-4 items-center">
          <p-avatar id="test" label="ML" class="mr-2" size="large" shape="circle" />
          <div>
            <h3 class="text-xl font-bold inter-font leading-6">Mi perfil profesional</h3>
            <p class="text-xs">Desarrolladora Full Stack</p>
          </div>
        </div>
        <div class="w-full flex flex-col gap-2 border-l-3 pl-3 border-mist">
          <div class="leading-1">
            <p class="text-xs font-bold leading-3">Formación verificada</p>
            <p class="text-xs">Ingeniería en Sistemas</p>
          </div>
          <div class="leading-1">
            <p class="text-xs font-bold leading-3">Experiencia</p>
            <p class="text-xs">Desarrolladora Frontend</p>
          </div>
          <div class="leading-1">
            <p class="text-xs font-bold leading-3">Certificaciones</p>
            <p class="text-xs">AWS Certified Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
