<div class="max-w-4xl mx-auto">
  <h1 class="text-3xl font-bold mb-5">Mi curriculum</h1>
  <div class="my-12 p-8 bg-white rounded-3xl shadow-sm">
    <section class="flex flex-col md:flex-row items-center md:items-start gap-6 mb-6">
      <div class="ring-4 ring-(--p-forest-mist) rounded-full p-1 shrink-0">
        <p-avatar
          icon="pi pi-user"
          size="xlarge"
          shape="circle"
          class="bg-(--p-forest-mid) text-white flex items-center justify-center !w-24 !h-24 text-2xl"
        />
      </div>

      <div class="text-center md:text-left space-y-2 w-full">
        <h2 class="text-2xl font-bold">{{ cv().perfil.nombre }}</h2>
        <h3 class="text-xl font-bold text-(--p-forest-lite)">
          {{ cv().perfil.titulo }}
        </h3>

        <address
          class="flex flex-wrap justify-center md:justify-start gap-y-2 gap-x-4 not-italic text-sm font-medium text-gray-500"
        >
          <span class="flex items-center gap-1.5">
            <i class="pi pi-map-marker text-(--p-forest-lite)"></i>{{ cv().perfil.ubicacion }}
          </span>
          <a
            [href]="'mailto:' + cv().perfil.correo"
            class="flex items-center gap-1.5 text-(--p-forest-lite) hover:text-(--p-forest-mid) transition-colors duration-200"
          >
            <i class="pi pi-envelope"></i>{{ cv().perfil.correo }}</a
          >
          <a
            [href]="'tel:' + cv().perfil.telefono"
            class="flex items-center gap-1.5 text-(--p-forest-lite) hover:text-(--p-forest-mid) transition-colors duration-200"
          >
            <i class="pi pi-phone"></i>{{ cv().perfil.telefono }}</a
          >
        </address>
      </div>
    </section>
    <section>
      <p class="mt-6 text-gray-600 leading-relaxed font-normal text-base md:text-md">
        {{ cv().perfil.descripcion }}
      </p>
    </section>

    <section class="mt-8">
      <h2 class="text-2xl font-bold mb-5">Experiencias Profesionales</h2>

      <div class="relative border-l border-gray-300 ml-4 md:ml-6">
        @for (experiencia of cv().experiencias; track experiencia.titulo) {
          <div class="mb-10 ml-6 relative">
            <span
              class="absolute -left-[31px] top-0 bg-(--p-forest-cream) border-2 border-(--p-forest-lite) rounded-full size-4 flex items-center justify-center shadow-sm"
            >
              <span class="bg-(--p-forest-lite) rounded-full w-1.5 h-1.5"></span>
            </span>

            <div class="bg-white p-6 rounded-3xl shadow-sm">
              <div class="mb-2">
                <span
                  class="text-xs font-semibold uppercase text-(--p-forest-lite) bg-(--p-forest-mist) px-2.5 py-1 rounded-full w-fit"
                >
                  {{ experiencia.fecha }}
                </span>
              </div>

              <h3 class="text-lg font-bold">
                {{ experiencia.titulo }}
              </h3>
              <p class="font-medium text-(--p-forest-lite) mb-3">
                {{ experiencia.empresa }}
              </p>
              <p class="text-gray-600 text-sm leading-relaxed">
                {{ experiencia.descripcion }}
              </p>
            </div>
          </div>
        }
      </div>
    </section>
    <section>
      <h2 class="text-2xl font-bold mb-5">Estudios</h2>

      <div class="relative border-l border-gray-300 ml-4 md:ml-6">
        @for (educacion of cv().educacion; track educacion.titulo) {
          <div class="mb-10 ml-6 relative">
            <span
              class="absolute -left-[31px] top-0 bg-(--p-forest-cream) border-2 border-(--p-forest-lite) rounded-full size-4 flex items-center justify-center shadow-sm"
            >
              <span class="bg-(--p-forest-lite) rounded-full w-1.5 h-1.5"></span>
            </span>

            <div class="bg-white p-6 rounded-3xl shadow-sm">
              <div class="mb-2">
                <span
                  class="text-xs font-semibold uppercase text-(--p-forest-lite) bg-(--p-forest-mist) px-2.5 py-1 rounded-full w-fit"
                >
                  {{ educacion.fecha }}
                </span>
              </div>

              <h3 class="text-lg font-bold mb-3">
                {{ educacion.titulo }}
              </h3>
              <span class="text-sm font-medium text-gray-500">
                {{ educacion.institucion }}
              </span>

              @if (educacion.descripcion) {
                <p class="text-gray-600 text-sm leading-relaxed">
                  {{ educacion.descripcion }}
                </p>
              }
            </div>
          </div>
        }
      </div>
    </section>
    <section class="md:col-span-1 mb-8 bg-white p-6 rounded-3xl shadow-sm">
      <h2 class="text-2xl font-bold">Idiomas</h2>

      <div class="flex flex-wrap gap-2.5 pt-2">
        <div class="flex flex-wrap gap-2.5 pt-2">
          @for (idioma of cv().idiomas; track idioma.id) {
            <span
              class="text-sm bg-(--p-forest-mist) text-(--p-forest-lite) px-3.5 py-1.5 rounded-full"
            >
              {{ idioma.nombre }} - {{ idioma.nivel }}
            </span>
          }
        </div>
      </div>
    </section>

    <section class="md:col-span-2 bg-white p-6 rounded-3xl shadow-sm">
      <h2 class="text-2xl font-bold">Conocimientos y Habilidades</h2>

      <div class="flex flex-wrap gap-2.5 pt-2">
        @for (habilidad of cv().habilidades; track habilidad.id) {
          <span
            class="text-sm bg-(--p-forest-mist) text-(--p-forest-lite) px-3.5 py-1.5 rounded-full"
          >
            {{ habilidad.nombre }}
          </span>
        }
      </div>
    </section>
  </div>
</div>
